html
{
	min-height: 100vh;
	height: 100vh;
}
body
{
	min-height: 100vh !important;
    height: 100vh;
    background-color:transparent;
	font-family: "Tahoma" !important;
}

.myMainContainerWrapper
{
	height: 100%;
    max-height: 100%;
	overflow: auto;
}

a.hiddenLink
{ 
    color: inherit;
}
a.totallyHidden:hover
{
    text-decoration: none;
}
.maxHeight
{
    height: 100%;
}
.maxWidth
{
    width: 100%;
}
.minWidth
{
    width: 1px;
}
.minHeight
{
    height: 1px;
}

.myModalDialog
{
    text-align: center;
}

.imageButton
{
    height: 40px;
    width: 35px;
    border: 1px solid #000000;
    padding: 3px;
}

div.table
{
    display:table;
}

div.row
{
    display: table-row;
}
div.cell
{
    display: table-cell;
}

img.button
{
    cursor: pointer;
}

.link:hover
{
    cursor: pointer;
    cursor: hand;
}

div#settings
{
    background-color: #ffffff;
    border: 2px solid #c6c6c6;
    border-radius: 30px;
    padding: 15px;
}

div#settings div.wrapperContent
{
    margin: 10px;
}

footer
{
    text-align: center;
	display: block;
	background-color: #8e8e8e ;
	color: #ffffff;
	height: 40px;
	line-height: 25pt;
}

footer a
{
	color: #ffffff;
}

footer a:hover
{
	color: #82d77e;
	text-decoration: none;
}

.navbar
{
	height: 50px;
	background-color: #8e8e8e !important;
	font-size: 12pt;
}

.navbar div div ul li a
{
	color: #ffffff;
}

.navbar div div ul
{
	float: right;
}


.navbar div div ul li a:hover
{
	color: #82d77e;
	background-color: transparent;
}

.header
{
	height: 115px;
}

.mainnav{
	height: 50px;
	background-color: #cfcccc;

}

.mainnav div ul li a
{
	font-size: 18pt;
	color: #ffffff;
}

.mainnav div ul li a:hover
{
	background-color: #82d77e;
}

div.logo{
	float: left;
}

div.warenkorb{
	float: right;
	font-size: 14pt;
	text-align: center;
	margin: auto;
}

div.warenkorb a{
	text-decoration: none;
	color: #8e8e8e;
}

div.warenkorb a:hover
{
	text-decoration: none;
	color: #82d77e;
}

input.suchleiste{
	width: 100%;
	display: inline;
}

.suche{
	margin: auto;
}

.sucheButton{
	display: inline;
}

.suchePic{
	height: 18px;
	margin: auto;
}

.flexHeader{
	width: 100%;
	display: flex;
	display: -webkit-flex;
}

.flexFillWidth{
	-webkit-flex: 1;
	flex: 1;
}

h1{
	font-size: 24pt;
	color: #000000;
	margin-left: 5pt;
}

p{
	margin-left: 5pt;
	margin-right: 5pt;
}

h2{
	margin-left: 5pt;
	font-size: 20pt ;
}