.holePannel{

}
.BoxRow{

}
.RowCell{

}
.PictureRow{

}
.NameRow{
	text-align: center;
	width: 300px;
}
.DetailRow{
	text-align: center;
	width: 100%;
}
.rowTable{
	width: 300px;
}
.PriceRow{
	text-align: center;
	width: 1000px;
}
