#detailParth{
	margin-top: 10px;
	margin-left: 5px;
}

.detailPicture{
	width: 100%;
	float: right;
}

#detailBuy{
	width: 200px;
	height: 100%;
	float: right;
	margin-right: 5px;
	margin: auto;
}

.shoppingCartButton{
	width: 100%;
	color: #8e8e8e;
	font-weight: bold;
	border: none;
	background-image: url("../image/Einkaufswagen_grau_klein.png");
	background-color: #82d77e;
	background-repeat: no-repeat;
	background-position: 30px;
	background-size: 30px;
	text-shadow: none;
}

.shoppingCartButton:hover{
	background-image: url("../image/cart_white_little.png");
	font-weight: bold;
	background-color: #82d77e;
	background-repeat: no-repeat;
	background-position: 30px;
	background-size: 30px;
	color: #ffffff;
}

.shoppingCartButton p{
	margin: auto;
	margin-left: 20px;
}

.shoppingCartButton:focus{
	background-image: url("../image/cart_white_little.png");
	font-weight: bold;
	background-color: #82d77e;
	background-repeat: no-repeat;
	background-position: 30px;
	background-size: 30px;
	color: #ffffff;
}

.selectWidth{
	width: 35px;
	padding: 0 0 0 0;
}

#detailProductDetails{
	margin-top: 20px;
}

.productInfoBackground{
	background: #82d77e ;
	background-image: -webkit-linear-gradient(top, #9dff98, #82d77e);
	border: none;
}

#tabs ul li a{
	color: #8e8e8e;
	font-weight: normal;
}

#tabs ul li{
	border: none;
}

.showLeft{
	float: left;
}

.showRight{
	float: right;
}

.block{
	display: block;
}

form{
	height: 40px;
}

label{
	margin-right: 5px;
	margin-top: 6px;
}