#detailParth{
	margin-top: 10px;
	margin-left: 5px;
}

.detailPicture{
	width: 100%;
	float: right;
}

#detailBuy{
	width: 200px;
	height: 100%;
	float: right;
	margin-right: 5px;
	margin: auto;
}

.shoppingCartButton{
	width: 100%;
	color: #8e8e8e;
	font-weight: bold;
	border: none;
	text-shadow: none;
	background-image: -webkit-linear-gradient(top, #9dff98, #82d77e);
	background-image: -moz-linear-gradient(top, #9dff98, #82d77e);
}

.shoppingCartButton:hover svg, .shoppingCartButton:hover{
	font-weight: bold;
	background-position: 0 0;
	background-blend-mode: darken;
	color: #ffffff;
	fill: #ffffff;
}

.shoppingCartButton p{
	margin: auto;
	margin-left: 20px;
}

.shoppingCartButton:focus{
	font-weight: bold;
	background-color: #82d77e;
	color: #ffffff;
}

.selectWidth{
	width: 35px;
	padding: 0 0 0 0;
}

#detailProductDetails{
	margin-top: 20px;
}

.productInfoBackground{
	background: #82d77e ;
	background-image: -webkit-linear-gradient(top, #9dff98, #82d77e);
	background-image: -moz-linear-gradient(top, #9dff98, #82d77e);
	border: none;
}

#tabs ul li a{
	color: #8e8e8e;
	font-weight: normal;
}

#tabs ul li{
	border: none;
}

.showLeft{
	float: left;
}

.showRight{
	float: right;
}

.block{
	display: block;
}

form{
	height: 40px;
}

label{
	margin-right: 5px;
	margin-top: 6px;
}

table{
	background-color: transparent;
}

.shoppingCartButtonPic{
	height: 20px;
	fill: #8e8e8e;
	margin: auto;
	margin-right: 5px;
	vertical-align: text-bottom;
}

td{
	margin-left: 10px;
	margin-right: 100px;
}