.filterForm input[type=number],
.filterForm input[type=submit]
{
	padding: 1px;
}
.filterForm div.columns
{
	padding: 1px;
}
.filterForm #bikePartType label
{
	margin-right: 5px;
	width: 100%;
}
.filterForm #bikePartType label span
{
	margin-right: 2px;
}