.filterForm input[type=number],
.filterForm input[type=submit]
{
	padding: 1px;
}
.filterForm div.columns
{
	padding: 1px;
}
.filterForm .multiCheckBox label
{
	/*margin-right: 5px;*/
	width: 100%;
}
.filterForm .multiCheckBox label span
{
	margin-left: 2px;
}