.filterForm input[type=number],
.filterForm input[type=submit]
{
	padding: 1px;
}
.filterForm div.columns
{
	padding: 1px;
}

.filterForm .multiCheckBox label
{
	/*margin-right: 5px;*/
	width: 100%;
}
.filterForm .multiCheckBox label span
{
	margin-left: 5px;
	cursor: pointer;
	vertical-align: top;
	font-size: 0.94em;
	font-weight: normal;
}

label[for=frameHeightMin],
label[for=frameHeightMax],
label[for=priceMin],
label[for=priceMax],
label[for=smallSubmitButton]

 {
	display: none;
}