div.flashMessage
{
    background-color: #ffDDdd;
	border: 1px solid #afafaf;
	border-radius: 10px;
    padding: 3px 10px 3px 10px;
	z-index: 9999;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;

}
div.flashMessage:hover
{
	opacity: 0.4;
}

span.flashMessage
{
    float: right;
    display: none;
    cursor: pointer;
}
div.success
{
    background-color: #adeca1;
}
div.default
{
    background-color: #1a9cc8;
}
#flashMessageContainer
{
	height: 0px; !important;
	width: 100%;
	overflow: visible; !important;
    margin-bottom: 5px;
	position: relative;
}