div.flashMessage
{
    background-color: #ffDDdd;
    border: 1px solid #afafaf;
    border-radius: 2px;
    padding: 15px;
    z-index: 9999;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.2);
}
div.flashMessage:hover
{
	opacity: 0.4;
}

span.flashMessage
{
    float: right;
    display: none;
    cursor: pointer;
}
div.success
{
    background-color: #adeca1;
}
div.default
{
    background-color: #1a9cc8;
}
#flashMessageContainer
{
	height: 0px; !important;
	width: 100%;
	overflow: visible; !important;
    margin-bottom: 5px;
	position: relative;
}