/*Kauf-Box*/
.partBuy {
	width: 240px;
	/*height: 100px;*/
	float: right;
	margin-left: 10px;
	margin-top: 76px;
	padding-top: 8px;
	padding-bottom: 5px;
	text-align: center;
	border: 1px solid #dcd9d9;
	border-radius: 6px;
	background-color: #f1eeee;

}

/*Box für Kopf der Tabelle rechts*/
.cartHeadline {
	float: right;
	width: 150px;
}
/*Erste Trennlinie*/
.firstLine {
	padding-top: 5px;

	border-top: solid 1px #8e8e8e;
}

/*Trennlinie zwischen Einträgen*/
.borderTop
{
	padding-top: 5px;
	border-top: solid 1px #cfcccc;
}

/*Letzte Trennlinie*/
.lastLine {
	padding-top: 5px;
	padding-bottom: 15px;
	border-top: solid 1px #8e8e8e;
	text-align: right;
}

/*#cartLine2 {*/
/*//	noshade;*/
	/*width: 100%;*/
	/*size: 3px;*/
	/*align: center;*/
	/*color: #7b7b7b;*/
	/*margin-bottom: 5px;*/
/*}*/

/*Eine Tabellenzeile*/
.partWareWhole {
	height: 110px;
	width: 100%;
	margin-bottom: 5px;

}
.partWareWhole div img
{
	max-width: 155px;
}

/*Box für Bild*/
.partWareLeft
{
	float: left;
	width: 160px;
}

/*Box Mitte für Produktbeschreibung*/
.partWareMiddle
{
	float: left;
	margin-left: 10px;
}

/*Box für rechte Seite der Tabelle*/
.partWareRight
{
	float: right;
	width: 150px;
}

.priceColor{
	color: #39ab3d;
}

/*Kaufbutton*/
.buyButton {
	width: 90%;
	color: #8e8e8e;
	background-color: #82d77e;
	background-image: -webkit-linear-gradient(top, #9dff98, #82d77e);
	background-image: -moz-linear-gradient(top, #9dff98, #82d77e);
	font-weight: bold;
	text-shadow: none;
	border: none;

}

.buyButton:hover {
	width: 90%;
	color: #ffffff;
	background-color: #82d77e;
	font-weight: bold;
	text-shadow: none;
	border: none;
}

/*Löschbutton*/
/*.deleteButton {*/
	/*width: 70%;*/
	/*color: #8e8e8e;*/
	/*background-color: #82d77e;*/
	/*background-image: -webkit-linear-gradient(top, #9dff98, #82d77e);*/
	/*background-image: -moz-linear-gradient(top, #9dff98, #82d77e);*/
	/*!*font-weight: bold;*!*/
	/*text-shadow: none;*/
	/*border: none;*/

/*}*/

/*.deleteButton:hover {*/
	/*width: 70%;*/
	/*color: #ffffff;*/
	/*background-color: #82d77e;*/
	/*!*font-weight: bold;*!*/
	/*text-shadow: none;*/
	/*border: none;*/
/*}*/